@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
}


@media (max-width: 767px) {
  main {
    padding-bottom: calc(7rem + env(safe-area-inset-bottom));
  }
}

.pb-mobile-nav {
  padding-bottom: calc(6rem + env(safe-area-inset-bottom));
}
